{% extends "core/base.html" %}
<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
  rel="stylesheet"
/>
{% block title %} Register {% endblock %} {% block content %}

<main class="bg-sky-100 bg-opacity-80 py-10 flex flex-col items-center">
  <section
    class="flex flex-col lg:flex-row justify-center items-center w-full p-20 max-w-7xl"
  >
    <div class="lg:w-1/2 px-8 order-last lg:order-first">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/96c1d224de700239fbe85f150fc595972b0c2d50cd4ea7f88791b5d134faa39e?apiKey=86ebbb7f47df4c4e96db2f03b5548c6a&"
        alt="Decorative image"
        class="mx-12 w-full max-w-7xl aspect-[0.72]"
      />
    </div>
    <div class="lg:w-1/2 px-4">
      <article
        class="flex flex-col items-center px-6 py- bg-white rounded-xl shadow-xl"
      >
        <h1 class="text-2xl font-semibold text-black mb-6">
          Create your Free Account
        </h1>
        <form
          method="POST"
          class="w-full flex flex-col items-center"
          aria-label="Sign up form"
        >
          {% csrf_token %}
          <ul>
            <li>{{ form.full_name.label_tag }} {{ form.full_name }}</li>
            <li>{{ form.country.label_tag }} {{ form.country }}</li>
            <li>{{ form.gender.label_tag }} {{ form.gender }}</li>
            <li>{{ form.username.label_tag }} {{ form.username }}</li>
            <li>{{ form.email.label_tag }} {{ form.email }}</li>
            <li>{{ form.password1.label_tag }} {{ form.password1 }}</li>
            <li>{{ form.password2.label_tag }} {{ form.password2 }}</li>
          </ul>
          <button
            type="submit"
            class="mt-6 px-4 py-2 rounded-xl bg-blue-500 text-white hover:bg-blue-300 font-bold lg:w-auto justify-self-center"
          >
            Create Account
          </button>
        </form>
        <div class="mt-4 text-center">
          <span class="text-gray-500">Already have an account?</span>
          <a
            href="{% url 'login' %}"
            class="text-blue-500 hover:text-blue-700 hover:underline"
            >Log in</a
          >
        </div>
        <p class="my-4 text-2xl text-gray-400 text-center">- OR -</p>
        <a
          href="#"
          class="flex items-center gap-3 px-3 py-2 rounded-lg border border-gray-300 hover:bg-gray-100 text-center"
        >
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/ae40307e4d6a05f2378e2cc8078ca54974d69763f8ccb1848144506feb5a5b59?apiKey=86ebbb7f47df4c4e96db2f03b5548c6a&"
            alt="Google icon"
            class="w-5 h-5 mr-2"
          />
          Sign in with Google {% endblock %}
        </a>
      </article>
    </div>
  </section>
</main>
