{% extends "core/base.html"%} 
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
{% block title%} Login {% endblock %}
{% block content %}
<main class="bg-sky-100 bg-opacity-80 py-10 flex flex-col items-center">
    <div class="flex flex-col lg:flex-row justify-center items-center w-full max-w-7xl">
        <div class="lg:w-1/2 px-5 order-last lg:order-first">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/96c1d224de700239fbe85f150fc595972b0c2d50cd4ea7f88791b5d134faa39e?apiKey=86ebbb7f47df4c4e96db2f03b5548c6a&" alt="Decorative image" class="my-10 w-full max-w-lg aspect-[0.72]">
        </div>
        <section class="lg:w-1/2 px-5">
            <article class="flex flex-col items-center px-6 py-8 bg-white rounded-3xl shadow-lg text-gray-500">
                <h1 class="text-2xl font-semibold text-black mb-6">Create your Free Account</h1>
                <form class="w-full" aria-label="Sign up form">
                {% csrf_token %}
                <label for="fullName" class="block mt-4">Full Name</label>
                <input type="text" id="fullName" name="fullName" placeholder="Enter your Full Name here" aria-label="Full Name" class="mt-2 p-4 w-full rounded-3xl bg-gray-400 bg-opacity-40 text-black text-opacity-50" value="{{form.username.value}}">
                <label for="email" class="block mt-4">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your Email here" aria-label="Email" class="mt-2 p-4 w-full rounded-3xl bg-gray-400 bg-opacity-40 text-black text-opacity-50" value="{{form.email.value}}">
                <label for="password" class="block mt-4">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your Password here" aria-label="Password" class="mt-2 p-4 w-full rounded-3xl bg-gray-400 bg-opacity-40 text-black text-opacity-50" value="{{form.password1.value}}">
                <button type="submit" class="mt-6 p-4 w-full rounded-xl bg-cyan-700 text-white font-bold">Create Account</button>
            </form>
            <div class="mt-4 text-lg">
                <span class="text-gray-500">Already have account?</span>
                <a href="#" class="text-cyan-700 hover:underline">Log in</a>
            </div>
            <p class="my-4 text-2xl text-gray-400">- OR -</p>
            <button class="flex items-center gap-3 px-4 py-2 rounded-2xl border border-gray-500 hover:bg-gray-100">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ae40307e4d6a05f2378e2cc8078ca54974d69763f8ccb1848144506feb5a5b59?apiKey=86ebbb7f47df4c4e96db2f03b5548c6a&" alt="Sign up with Google" class="w-10 h-10">
                Sign up with Google
            </button>
        </article>
    </section>
</main>
{% endblock %}
