<div class="bg-gray-100">
  <nav class="py-4 px-6 flex justify-between items-center">
    <a href="/" class="text-xl font-semibold text-blue-800">Learning App</a>
    <div class="space-x-6">
      <a href="#" class="text-lg font-semibold hover:text-gray-500">Home</a>
      <a href="#" class="text-lg font-semibold hover:text-gray-500">About Us</a>
      <a href="#" class="text-lg font-semibold hover:text-gray-500">Courses</a>
      <a href="#" class="text-lg font-semibold hover:text-gray-500"
        >Contact us</a
      >
      <a
        href="{% url 'register' %}"
        class="px-6 py-3 text-lg font-semibold bg-blue-800 text-white rounded-xl hover:bg-gray-700"
        >Register</a
      >
    </div>
  </nav>
</div>
<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
  rel="stylesheet"
/>
{% block content %}

<main class="bg-sky-100 bg-opacity-80 flex flex-col items-center">
  <section
    class="flex flex-col lg:flex-row justify-center items-center w-full p-5 max-w-7xl"
  >
    <div class="lg:w-1/2 px-8 order-last lg:order-first">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/96c1d224de700239fbe85f150fc595972b0c2d50cd4ea7f88791b5d134faa39e?apiKey=86ebbb7f47df4c4e96db2f03b5548c6a&"
        alt="Decorative image"
        class="mx-12 w-full max-w-7xl aspect-[0.72]"
      />
    </div>
    <div class="lg:w-1/2 px-4">
      <article
        class="flex flex-col items-center px-6 bg-white rounded-xl shadow-xl"
      >
        <h1 class="text-4xl font-semibold text-black mb-6">
          Login to your account
        </h1>
        <form
          method="POST"
          class="w-full flex flex-col items-center"
          aria-label="Sign up form"
        >
          {% csrf_token %} {% for field in loginform %}
          <div class="fieldWrapper">
            <label for="{{ field.id_for_label }}" class="text-2xl"
              >{{ field.label }}:</label
            >
            {{ field }} {% if field.errors %}
            <ul class="errorlist">
              {% for error in field.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          {% endfor %}
          <input
            type="submit"
            class="mt-6 px-4 py-2 rounded-xl bg-blue-500 text-white hover:bg-blue-300 font-bold lg:w-auto justify-self-center"
            value="Sign In"
          />
        </form>

        <p class="my-4 text-2xl text-gray-400 text-center">- OR -</p>
        <a
          href="#"
          class="flex items-center gap-3 px-3 py-2 rounded-lg border border-gray-300 hover:bg-gray-100 text-center"
        >
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/ae40307e4d6a05f2378e2cc8078ca54974d69763f8ccb1848144506feb5a5b59?apiKey=86ebbb7f47df4c4e96db2f03b5548c6a&"
            alt="Google icon"
            class="w-5 h-5 mr-2"
          />
          Sign in with Google {% endblock %}
        </a>
      </article>
    </div>
  </section>
</main>
