</html>
<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
  rel="stylesheet"
/>
<!-- {% block title %} Register {% endblock %} {% block content %} -->

<main class="bg-sky-100 bg-opacity-80 py-10 flex flex-col items-center">
  <section
    class="flex flex-col lg:flex-row justify-center items-center w-full p-20 max-w-7xl"
  >
    <div class="lg:w-1/2 px-8 order-last lg:order-first">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/96c1d224de700239fbe85f150fc595972b0c2d50cd4ea7f88791b5d134faa39e?apiKey=86ebbb7f47df4c4e96db2f03b5548c6a&"
        alt="Decorative image"
        class="mx-12 w-full max-w-7xl aspect-[0.72]"
      />
    </div>
    <div class="lg:w-1/2 px-4">
      <article
        class="flex flex-col items-center px-6 py- bg-white rounded-xl shadow-xl"
      >
        <h1 class="text-2xl font-semibold text-black mb-6">
          Create your Free Account
        </h1>
        <form
          method="POST"
          class="w-full flex flex-col items-center"
          aria-label="Sign up form"
        >
          {% csrf_token %}

          <!-- <ul>
            <li>
                <label for="{{ form.username.id_for_label }}">Username:</label>
                <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value }}">
            </li>
            <li>
                <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                <input type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}" value="{{ form.first_name.value }}" required>
            </li>
            <li>
                <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                <input type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}" value="{{ form.last_name.value }}" required>
            </li>
            <li>
                <label for="{{ form.email.id_for_label }}">Email:</label>
                <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value }}" required>
            </li>
            <li>
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                <input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" value="{{ form.password1.value }}" required>
            </li>
            <li>
                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                <input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" value="{{ form.password2.value }}" required>
            </li>
        </ul> -->
        
        {% for field in registerform %}
          <div class="fieldWrapper">
            {{ field.label_tag }}: {{ field }}
            {% if field.errors %}
              <ul class="errorlist">
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          {% endfor %}
          <input
            type="submit"
            class="mt-6 px-4 py-2 rounded-xl bg-blue-500 text-white hover:bg-blue-300 font-bold lg:w-auto justify-self-center"
            value="Register Account"
          >
          </button>
        </form>
        <div class="mt-4 text-center">
          <span class="text-gray-500">Already have an account?</span>
          <a
            href="{% url 'login' %}"
            class="text-blue-500 hover:text-blue-700 hover:underline"
            >Log in</a
          >
        </div>
        <p class="my-4 text-2xl text-gray-400 text-center">- OR -</p>
        <a
          href="#"
          class="flex items-center gap-3 px-3 py-2 rounded-lg border border-gray-300 hover:bg-gray-100 text-center"
        >
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/ae40307e4d6a05f2378e2cc8078ca54974d69763f8ccb1848144506feb5a5b59?apiKey=86ebbb7f47df4c4e96db2f03b5548c6a&"
            alt="Google icon"
            class="w-5 h-5 mr-2"
          />
          Sign in with Google {% endblock %}
        </a>
      </article>
    </div>
  </section>
</main>
